@tailwind base;
@tailwind components;
@tailwind utilities;


#hero {
    background-color: #000;

}


body {
    padding-top: 70px;
    background-color: #C0C6CC;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#draw-card {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.card-stats {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(110, 66, 38);
}

.card-stats span{
    font-size: large;
}

.card {
    border: 3px solid #1b6c918a;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0px 0px 20px #5d9fbe
}

@media only screen and (max-width: 600px) {
    .card {
        border: 3px solid #1b6c918a;
        border-radius: 4px;
        padding: 4px;
        width: 100px;
        box-shadow: 0px 0px 20px #5d9fbe
    }
}

.card:hover {
    transform: translateY(-3px);
    transform: rotate(0deg);
    transition: 0.3s ease-in;
}

.card-rotated {
    transform: rotate(180deg);
}

#card-info {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
    padding: 10px;
    background-color: rgba(163, 71, 71, 0.404);
    font-weight: bold;
}

.card-details-sections {
    background-color: rgba(255, 248, 220, 0.616);
    padding: 5px;
    border-radius: 5px;
    font-size: medium;
}

.card-details-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: rgba(252, 199, 130, 0.664);
    color: rgb(100, 44, 4);
    padding: 5px;
    border-radius: 5px;
}

.card-details-short-desc {
    color: saddlebrown;
    background-color: rgba(243, 215, 178, 0.664);
}

#button-console {
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;
}

span {
    font-size: medium;
}

.card-details {
    margin-top: 10px;
    text-align: center;
}

.card-info {
    text-align: center;
    font-weight: bold;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}



.tooltip:hover .tooltiptext {
    visibility: visible;
}